table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1.25rem;
  color: #333;
}
.table td, .table th {
  padding: 0.75rem 1.25rem;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}

.table-sm td, .table-sm th {
  padding: 0.625rem 1.25rem;
}

.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #ddd;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}

.table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover {
  color: #333;
  background-color: rgba(0, 0, 0, 0.03);
}

.table-primary {
  background-color: #e4f2fe;
}
.table-primary > td, .table-primary > th {
  background-color: #e4f2fe;
}
.table-primary tbody + tbody, .table-primary td, .table-primary th, .table-primary thead th {
  border-color: #afd9fb;
}

.table-hover .table-primary:hover {
  background-color: #cbe6fd;
}
.table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
  background-color: #cbe6fd;
}

.table-secondary {
  background-color: #efefef;
}
.table-secondary > td, .table-secondary > th {
  background-color: #efefef;
}
.table-secondary tbody + tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
  border-color: #cecece;
}

.table-hover .table-secondary:hover {
  background-color: #e2e2e2;
}
.table-hover .table-secondary:hover > td, .table-hover .table-secondary:hover > th {
  background-color: #e2e2e2;
}

.table-success {
  background-color: #eaf5ea;
}
.table-success > td, .table-success > th {
  background-color: #eaf5ea;
}
.table-success tbody + tbody, .table-success td, .table-success th, .table-success thead th {
  border-color: #bfe2c0;
}

.table-hover .table-success:hover {
  background-color: #d9edd9;
}
.table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
  background-color: #d9edd9;
}

.table-info {
  background-color: #e0f7fa;
}
.table-info > td, .table-info > th {
  background-color: #e0f7fa;
}
.table-info tbody + tbody, .table-info td, .table-info th, .table-info thead th {
  border-color: #a3e7f0;
}

.table-hover .table-info:hover {
  background-color: #caf1f6;
}
.table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
  background-color: #caf1f6;
}

.table-warning {
  background-color: #ffeee8;
}
.table-warning > td, .table-warning > th {
  background-color: #ffeee8;
}
.table-warning tbody + tbody, .table-warning td, .table-warning th, .table-warning thead th {
  border-color: #fcb;
}

.table-hover .table-warning:hover {
  background-color: #ffdbcf;
}
.table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
  background-color: #ffdbcf;
}

.table-danger {
  background-color: #fee8e7;
}
.table-danger > td, .table-danger > th {
  background-color: #fee8e7;
}
.table-danger tbody + tbody, .table-danger td, .table-danger th, .table-danger thead th {
  border-color: #fbbbb7;
}

.table-hover .table-danger:hover {
  background-color: #fdd1cf;
}
.table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
  background-color: #fdd1cf;
}

.table-light {
  background-color: #fefefe;
}
.table-light > td, .table-light > th {
  background-color: #fefefe;
}
.table-light tbody + tbody, .table-light td, .table-light th, .table-light thead th {
  border-color: #fdfdfd;
}

.table-hover .table-light:hover {
  background-color: #f1f1f1;
}
.table-hover .table-light:hover > td, .table-hover .table-light:hover > th {
  background-color: #f1f1f1;
}

.table-dark {
  background-color: #e6e8e9;
}
.table-dark > td, .table-dark > th {
  background-color: #e6e8e9;
}
.table-dark tbody + tbody, .table-dark td, .table-dark th, .table-dark thead th {
  border-color: #b5bbbd;
}

.table-hover .table-dark:hover {
  background-color: #d8dcdd;
}
.table-hover .table-dark:hover > td, .table-hover .table-dark:hover > th {
  background-color: #d8dcdd;
}

.table-active {
  background-color: rgba(0, 0, 0, 0.015);
}
.table-active > td, .table-active > th {
  background-color: rgba(0, 0, 0, 0.015);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.015);
}
.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.015);
}

.table .thead-dark th {
  color: #fff;
  background-color: #333;
  border-color: rgba(255, 255, 255, 0.35);
}
.table .thead-light th {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.table-dark {
  color: #fff;
  background-color: #333;
}
.table-dark td, .table-dark th, .table-dark thead th {
  border-color: rgba(255, 255, 255, 0.35);
}
.table-dark.table-bordered {
  border: 0;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
  border: 0;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-sm-table {
  display: table !important;
}

.d-sm-table-row {
  display: table-row !important;
}

.d-sm-table-cell {
  display: table-cell !important;
}

.d-md-table {
  display: table !important;
}

.d-md-table-row {
  display: table-row !important;
}

.d-md-table-cell {
  display: table-cell !important;
}

.d-lg-table {
  display: table !important;
}

.d-lg-table-row {
  display: table-row !important;
}

.d-lg-table-cell {
  display: table-cell !important;
}

.d-xl-table {
  display: table !important;
}

.d-xl-table-row {
  display: table-row !important;
}

.d-xl-table-cell {
  display: table-cell !important;
}

.d-print-table {
  display: table !important;
}

.d-print-table-row {
  display: table-row !important;
}

.d-print-table-cell {
  display: table-cell !important;
}

thead {
  display: table-header-group;
}

.table {
  border-collapse: collapse !important;
}
.table td, .table th {
  background-color: #fff !important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #eee !important;
}

.table-dark {
  color: inherit;
}
.table-dark tbody + tbody, .table-dark td, .table-dark th, .table-dark thead th {
  border-color: #ddd;
}

.table .thead-dark th {
  color: inherit;
  border-color: #ddd;
}

thead .table-border-double td, thead .table-border-double th {
  border-bottom-width: 3px;
  border-bottom-style: double;
}

.table-bordered thead .table-border-double:first-child td, .table-bordered thead .table-border-double:first-child th {
  border-bottom-width: 3px;
  border-bottom-style: double;
}

tbody .table-border-double td, tbody .table-border-double th {
  border-top-width: 3px;
  border-top-style: double;
}

tfoot .table-border-double td, tfoot .table-border-double th {
  border-top-width: 3px;
  border-top-style: double;
}

.table-active {
  background-color: rgba(0, 0, 0, 0.015);
}
.table-active > td, .table-active > th {
  background-color: rgba(0, 0, 0, 0.015);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.015);
}
.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.015);
}

.btn-light {
  color: #333;
  background-color: #fafafa;
}
.btn-light:hover {
  color: #333;
  background-color: #fafafa;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
}
.btn-primary:hover {
  color: #fff;
  background-color: #2196f3;
}

.btn-secondary {
  color: #fff;
  background-color: #777;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #777;
}

.btn-success {
  color: #fff;
  background-color: #4caf50;
}
.btn-success:hover {
  color: #fff;
  background-color: #4caf50;
}

.btn-info {
  color: #fff;
  background-color: #00bcd4;
}
.btn-info:hover {
  color: #fff;
  background-color: #00bcd4;
}

.btn-warning {
  color: #fff;
  background-color: #ff7043;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ff7043;
}

.btn-danger {
  color: #fff;
  background-color: #f44336;
}
.btn-danger:hover {
  color: #fff;
  background-color: #f44336;
}

.btn-light {
  color: #333;
  background-color: #fafafa;
}
.btn-light:hover {
  color: #333;
  background-color: #fafafa;
}

.btn-dark {
  color: #fff;
  background-color: #324148;
}
.btn-dark:hover {
  color: #fff;
  background-color: #324148;
}

.btn-outline-primary {
  color: #2196f3;
  background-color: transparent;
  background-image: none;
  border-color: #2196f3;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #2196f3;
  background-color: transparent;
}
.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.btn-outline-secondary {
  color: #777;
  background-color: transparent;
  background-image: none;
  border-color: #777;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #777;
  border-color: #777;
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #777;
  background-color: transparent;
}
.btn-outline-secondary:not([disabled]):not(.disabled).active, .btn-outline-secondary:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #777;
  border-color: #777;
}

.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #777;
  border-color: #777;
}

.btn-outline-success {
  color: #4caf50;
  background-color: transparent;
  background-image: none;
  border-color: #4caf50;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #4caf50;
  background-color: transparent;
}
.btn-outline-success:not([disabled]):not(.disabled).active, .btn-outline-success:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
}

.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn-outline-info {
  color: #00bcd4;
  background-color: transparent;
  background-image: none;
  border-color: #00bcd4;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #00bcd4;
  background-color: transparent;
}
.btn-outline-info:not([disabled]):not(.disabled).active, .btn-outline-info:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.btn-outline-warning {
  color: #ff7043;
  background-color: transparent;
  background-image: none;
  border-color: #ff7043;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #ff7043;
  border-color: #ff7043;
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ff7043;
  background-color: transparent;
}
.btn-outline-warning:not([disabled]):not(.disabled).active, .btn-outline-warning:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #ff7043;
  border-color: #ff7043;
}

.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #ff7043;
  border-color: #ff7043;
}

.btn-outline-danger {
  color: #f44336;
  background-color: transparent;
  background-image: none;
  border-color: #f44336;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #f44336;
  background-color: transparent;
}
.btn-outline-danger:not([disabled]):not(.disabled).active, .btn-outline-danger:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}

.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}

.btn-outline-light {
  color: #fafafa;
  background-color: transparent;
  background-image: none;
  border-color: #fafafa;
}
.btn-outline-light:hover {
  color: #fff;
  background-color: #fafafa;
  border-color: #fafafa;
}
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #fafafa;
  background-color: transparent;
}
.btn-outline-light:not([disabled]):not(.disabled).active, .btn-outline-light:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #fafafa;
  border-color: #fafafa;
}

.show > .btn-outline-light.dropdown-toggle {
  color: #fff;
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-outline-dark {
  color: #324148;
  background-color: transparent;
  background-image: none;
  border-color: #324148;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #324148;
  border-color: #324148;
}
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #324148;
  background-color: transparent;
}
.btn-outline-dark:not([disabled]):not(.disabled).active, .btn-outline-dark:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #324148;
  border-color: #324148;
}

.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #324148;
  border-color: #324148;
}

.btn-link {
  font-weight: 400;
  color: #2196f3;
  text-decoration: none;
}
.btn-link:hover {
  color: #0a6ebd;
  text-decoration: none;
}
.btn-link.focus, .btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}
.btn-link.disabled, .btn-link:disabled {
  color: #999;
  pointer-events: none;
}

.btn-group-lg > .btn, .btn-lg {
  padding: 0.5625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.4286;
  border-radius: 0.25rem;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 0.3125rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.6667;
  border-radius: 0.125rem;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
  width: 100%;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}

.btn-group > .btn {
  position: relative;
  flex: 1 1 auto;
}

.btn-group-vertical > .btn:hover, .btn-group > .btn:hover {
  z-index: 1;
}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus {
  z-index: 1;
}

.btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus {
  z-index: 1;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-toolbar .input-group {
  width: auto;
}

.btn-group > .btn-group:not(:first-child), .btn-group > .btn:not(:first-child) {
  margin-left: -1px;
}
.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-sm > .btn + .dropdown-toggle-split, .btn-sm + .dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}

.btn-group-lg > .btn + .dropdown-toggle-split, .btn-lg + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group.show .dropdown-toggle {
  box-shadow: inset 0 0 0 transparent;
}
.btn-group.show .dropdown-toggle.btn-link {
  box-shadow: none;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn-group-vertical > .btn {
  width: 100%;
}
.btn-group-vertical > .btn-group {
  width: 100%;
}
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: -1px;
}
.btn-group-vertical > .btn:not(:first-child) {
  margin-top: -1px;
}
.btn-group-vertical > .btn-group:not(:last-child) > .btn, .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:not(:first-child) > .btn, .btn-group-vertical > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0;
}
.btn-group-toggle > .btn input[type=checkbox], .btn-group-toggle > .btn input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-group-toggle > .btn-group > .btn input[type=checkbox], .btn-group-toggle > .btn-group > .btn input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.icon-play3:before {
  content: "\ed7b";
}

.ml-2, .mx-2 {
  margin-left: 0.625rem !important;
}

a.text-white:not(.btn), a.text-default:not(.btn) {
  transition: color ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
  a.text-white:not(.btn) {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  a.text-default:not(.btn) {
    transition: none;
  }
}
.btn-lg .letter-icon {
  height: 1.25003rem;
}

.btn-sm .letter-icon {
  height: 1.25002rem;
}

.btn {
  position: relative;
}
.btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn).active, .btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn).focus, .btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn):active, .btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn):focus, .btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn):hover {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.show > .btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn).dropdown-toggle {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn).disabled, .btn:not(.bg-transparent):not([class*=btn-outline]):not(.btn-light):not(.btn-link):not([class*=alpha-]):not(.fab-menu-btn):disabled {
  box-shadow: none;
}
.btn::-moz-focus-inner {
  border: 0;
}
.btn.disabled, .btn:disabled {
  cursor: default;
}

.btn-light {
  color: #333;
  background-color: #fafafa;
  border-color: #ddd;
}
.btn-light.focus, .btn-light:focus, .btn-light:hover {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.btn-light:not([disabled]):not(.disabled).active, .btn-light:not([disabled]):not(.disabled):active {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.show > .btn-light.dropdown-toggle {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.btn-light.disabled, .btn-light:disabled {
  background-color: #fafafa;
  border-color: #ddd;
}

.btn-outline.disabled, .btn-outline:disabled, .btn-outline:not(:hover):not(:active):not(.active):not([aria-expanded=true]) {
  background-color: transparent !important;
}
.btn-outline:not(.disabled):not(:disabled):not([class*=alpha-]):hover {
  color: #fff !important;
}
.btn-outline:not(.disabled):not(:disabled):not([class*=alpha-]):not([disabled]):not(.disabled).active, .btn-outline:not(.disabled):not(:disabled):not([class*=alpha-]):not([disabled]):not(.disabled):active {
  color: #fff !important;
}

.show > .btn-outline:not(.disabled):not(:disabled):not([class*=alpha-]).dropdown-toggle {
  color: #fff !important;
}

.btn-outline.bg-white:not(.disabled):not(:disabled):hover {
  color: #333 !important;
}
.btn-outline.bg-white:not(.disabled):not(:disabled):not([disabled]):not(.disabled).active, .btn-outline.bg-white:not(.disabled):not(:disabled):not([disabled]):not(.disabled):active {
  color: #333 !important;
}

.show > .btn-outline.bg-white:not(.disabled):not(:disabled).dropdown-toggle {
  color: #333 !important;
}
.show > .btn-link.dropdown-toggle {
  color: #0a6ebd;
}

.btn-icon {
  padding-left: 0.56252rem;
  padding-right: 0.56252rem;
}
.btn-icon input[type=checkbox], .btn-icon input[type=radio] {
  display: block;
}
.btn-icon.btn-sm {
  padding-left: 0.43752rem;
  padding-right: 0.43752rem;
}
.btn-icon.btn-lg {
  padding-left: 0.68752rem;
  padding-right: 0.68752rem;
}

.btn-float {
  padding: 1rem;
  border-radius: 0.1875rem;
}
.btn-float.btn-link {
  padding: 0.8rem;
}
.btn-float i {
  display: block;
  top: 0;
}
.btn-float > span {
  display: block;
  padding-top: 0.625rem;
  margin-bottom: -0.40625rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.border-2 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.btn.border-2.btn-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.btn.border-2.btn-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.btn.border-2.btn-icon {
  padding-left: 0.50002rem;
  padding-right: 0.50002rem;
}
.btn.border-2.btn-icon.btn-lg {
  padding-left: 0.62502rem;
  padding-right: 0.62502rem;
}
.btn.border-2.btn-icon.btn-sm {
  padding-left: 0.37502rem;
  padding-right: 0.37502rem;
}
.btn.border-2.btn-float {
  padding: 0.9375rem;
}

.btn-labeled > b {
  position: absolute;
  top: -1px;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  line-height: 1;
  padding: 0.62503rem;
}
.btn-labeled > b > i {
  top: 0;
}
.btn-labeled.rounded-round > b {
  border-radius: 100px;
}
.btn-labeled.btn-lg > b {
  padding: 0.75003rem;
}
.btn-labeled.btn-sm > b {
  padding: 0.50003rem;
}

.btn-labeled-left {
  padding-left: 3.12506rem;
}
.btn-labeled-left > b {
  left: -1px;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
}
.btn-labeled-left.btn-lg {
  padding-left: 3.50005rem;
}
.btn-labeled-left.btn-lg > b {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.btn-labeled-left.btn-sm {
  padding-left: 2.75006rem;
}
.btn-labeled-left.btn-sm > b {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.btn-labeled-right {
  padding-right: 3.12506rem;
}
.btn-labeled-right > b {
  right: -1px;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
}

.btn-group > .btn.border-2:not(:first-child) {
  margin-left: -2px;
}
.btn-group > .btn.border-3:not(:first-child) {
  margin-left: -3px;
}

.btn-group-justified {
  display: flex;
}
.btn-group-justified .btn, .btn-group-justified .btn-group, .btn-group-justified .btn, .btn-group-justified .btn-group {
  flex: 1;
}

.btn .badge {
  top: 0;
}

[class*=bg-]:not(.bg-transparent):not(.bg-light):not(.bg-white):not(.btn-outline):not(body) {
  color: #fff;
}/*# sourceMappingURL=basic.css.map */